<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====== Seo ====== -->
    <meta
      name="description"
      content="Campanha de vacinação contra a raiva 2022"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Mypet | Campanha de vacinação contra a raiva 2022"
    />
    <meta property="og:description" content="Vacinação contra a raiva 2022" />
    <meta property="og:url" content="http://mypet.com" />
    <meta property="og:image" content="/" />
    <!-- ====== Css ====== -->

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- ====== Fonts ====== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/responsive.css" />

    <!-- ====== Icons ====== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- ====== Fav Icon ====== -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    {{! ====== JavaScript ===== }}
    <script src="/js/script.js" defer></script>
    <title>Mypets | Campanha de vacinação contra a raiva 2022</title>
  </head>

  <body id="body-pd">
    <header class="header" id="header">
      <div class="header_toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
      <div class="header_img">
        <img src="https://i.imgur.com/hczKIze.jpg" alt="" />
      </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a href="#" class="nav_logo">
            <i class="bx bx-layer nav_logo-icon"></i>
            <span class="nav_logo-name">BBBootstrap</span>
          </a>
          <div class="nav_list">
            <ul href="#" class="nav_link active">
              <i class='bx bxs-calendar'></i>
              <span class="nav_name">Cronograma</span>
            </ul>
            <a href="#" class="nav_link">
              <i class='bx bxs-id-card'></i>
              <span class="nav_name">Ficha Online</span>
            </a>
            <a href="#" class="nav_link">
              <i class='bx bx-question-mark'></i>
              <span class="nav_name">Duvidas</span>
            </a>
            <a href="/textos" class="nav_link">
              <i class='bx bx-text'></i>
              <span class="nav_name">Texto Hero</span>
            </a>
            <a href="/sobre" class="nav_link">
              <i class='bx bx-info-circle'></i>
              <span class="nav_name">Sobre</span>
            </a>

             <a href="/imagem" class="nav_link">
              <i class='bx bx-info-circle'></i>
              <span class="nav_name">Imagem</span>
            </a>

          </div>
        </div>
        <a href="/" class="nav_link">
          <i class="bx bx-log-out nav_icon"></i>
          <span class="nav_name">Sair</span>
        </a>
      </nav>
    </div>

    {{{body}}}

    <footer class="main-footer flex-center">
      <img src="assets/img/svg/logo.svg" alt="Mypets" />
      <ul class="social-media">
        <li>
          <a href="#">
            <i class="ri-twitter-line"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-instagram-line"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-facebook-line"></i>
          </a>
        </li>
      </ul>
      <p>© 2021 Mypets | Todos os direitos reservados</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {

const showNavbar = (toggleId, navId, bodyId, headerId) =>{
const toggle = document.getElementById(toggleId),
nav = document.getElementById(navId),
bodypd = document.getElementById(bodyId),
headerpd = document.getElementById(headerId)

// Validate that all variables exist
if(toggle && nav && bodypd && headerpd){
toggle.addEventListener('click', ()=>{
// show navbar
nav.classList.toggle('show')
// change icon
toggle.classList.toggle('bx-x')
// add padding to body
bodypd.classList.toggle('body-pd')
// add padding to header
headerpd.classList.toggle('body-pd')
})
}
}

showNavbar('header-toggle','nav-bar','body-pd','header')

/*===== LINK ACTIVE =====*/
const linkColor = document.querySelectorAll('.nav_link')

function colorLink(){
if(linkColor){
linkColor.forEach(l=> l.classList.remove('active'))
this.classList.add('active')
}
}
linkColor.forEach(l=> l.addEventListener('click', colorLink))

// Your code to run since DOM is loaded and ready
});
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>