<section class="sectionficha">
  <form action="/textosadd" method="POST">

    <div class="preencher">
      <h5 class="titleficha">Titulo e conteudo do site</h5>
      <div class="inputs">
        <div>
          <p>Titulo</p>
          <input type="text" name="titulo" placeholder="Digite o titulo" />
        </div>
      </div>
      <div class="inputs">
        <div>
          <p>Conteudo</p>
          <input type="text" name="conteudo"  placeholder="Digite o conteudo" />
        </div>
      </div>

    <button type="submit" class="btns btnficha">Cadastrar textos</button>
 
  </form>

</section>