 <main>
 
 <!-- ====== Hero ====== -->
      <section class="hero" id="home">
        <div class="grid flexDiv">
          <h3 class="title">Porque é importante vacinar meu pet?</h3>
          <p>
            A vacinação é um cuidado essencial, pois por meio dela seu pet fica
            protegido de doença infecciosas que podem até ser fatais.
          </p>
         <a href="/ficha"> <button class="btns">vacinar meu pet</button> </a> 
        </div>
        <div class="grid">
          <img src="/img/hero-img.png" alt="" />
        </div>
      </section>

      <!-- ====== Sobre ====== -->
      <section class="sobre" id="sobre">
          <div class="grid">
            <img src="/img/sobre-img.png" alt="">
          </div>
          <div class="grid flexDiv">
            <h3 class="title">É gratuito a proteção para seu pet.</h3>
            <p>
              A campanha é necessária para cuidar dos nossos
              pets, pois promove proteção contra a raiva que
              pode ser fatal, vacinar seu animal é de extrema
              importância pois assim você protege ele e outros
              animais.
            </p>
          </div>
      </section>

      <!-- ====== Cronograma ====== -->
      <section class="cronograma" id="cronograma">
        <div>
          <h3 class="title">Cronograma</h3>
        </div>
        <a href="/ficha"> <button class="btns">faça sua ficha</button> </a>
      </section>

      <!-- ====== Dúvidas ====== -->
      <section class="duvidas" id="duvidas">
        <div>
          <h3 class="title">Dúvidas</h3>
        </div>
          <div class="item">
            <input type="checkbox" id="check1">
            <label for="check1">O que é Raiva?</label>
            <ul>
              <li>
                Raiva é uma doença infectocontagiosa
                causada por um vírus que atinge o Sistema
                Nervoso Central (Cérebro de Medula).
                É uma doença que não tem cura, sendo,
                portanto, fatal.
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="check2">
            <label for="check2">Quem pode pegar Raiva?</label>
            <ul>
              <li>
                Raiva é uma doença infectocontagiosa
                causada por um vírus que atinge o Sistema
                Nervoso Central (Cérebro de Medula).
                É uma doença que não tem cura, sendo,
                portanto, fatal.
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="check3">
            <label for="check3">Como ocorre a transmissão da Raiva?</label>
            <ul>
              <li>
                Raiva é uma doença infectocontagiosa
                causada por um vírus que atinge o Sistema
                Nervoso Central (Cérebro de Medula).
                É uma doença que não tem cura, sendo,
                portanto, fatal.
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="check4">
            <label for="check4">
              O que devo fazer se tiver
              contato com animais com sintomas de Raiva?
            </label>
            <ul>
              <li>
                Raiva é uma doença infectocontagiosa
                causada por um vírus que atinge o Sistema
                Nervoso Central (Cérebro de Medula).
                É uma doença que não tem cura, sendo,
                portanto, fatal.
              </li>
            </ul>
          </div>
        </div>
      </section>

    </main>